<a href="https://colab.research.google.com/github/arielwendichansky/DI_Bootcamp/blob/master/Exercises_XP_W4D3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1 : Import A File From Kaggle

In [ ]:
import pandas as pd
! pip install -q kaggle
from google.colab import files

files.upload()

In [2]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download -d brendan45774/test-file

In [ ]:
!unzip test-file.zip

In [ ]:
df = pd.read_csv('tested.csv')


print(df.head())

Exercise 2: Importing A CSV File

In [8]:
df = pd.read_csv('iris.data.txt')
print(df.head(5))

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Exercise 3: Reading JSON Data

In [9]:
df = pd.read_json('posts.json')
print(df.head(5))

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

 Exercise 4: Loading Data From An Excel File

In [13]:
df = pd.read_excel('dummy_data_excel.xlsx')
print(df.head(5))

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   28   55000
4    Emily   32   62000

Exercise 5 : Export A Dataframe To Excel Format And JSON Format.

In [12]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}

df = pd.DataFrame(data)
df.to_excel('dummy_data.xlsx', index=False)
df.to_json('dummy_data.json')