<a href="https://colab.research.google.com/github/arielwendichansky/DI_Bootcamp/blob/master/Exercise_XP_Gold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1 : Export A Dataframe To JSON With Orient

In [1]:
import pandas as pd

In [ ]:
! pip install -q kaggle
from google.colab import files

files.upload()

In [3]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [4]:
data = {
'UserID': range(1, 11),
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma',
         'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
'Age': [25, 30, 35, 40, 29, 34, 28, 31, 36, 33],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix',
         'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']
}

df = pd.DataFrame(data)

In [7]:
df.to_json('data.json', orient = 'columns')

Exercise 2: Export A Dataframe From Excel

In [17]:
data = pd.DataFrame({
'Date': pd.date_range('20210101', periods=20),
'Product': ['Product A', 'Product B', 'Product C'] * 6 + ['Product A', 'Product B'],
'Quantity': [2, 3, 5, 7, 1] * 4,
'Revenue': [210.50, 340.60, 450.30, 120.10, 150.75] * 4
})

data.to_excel('data2.xlsx', index=False)

In [ ]:
df1 = pd.read_excel('data2.xlsx')
df1

In [26]:
new_data = pd.DataFrame({
'Stock': ['In stock'] *19
})
new_df = pd.DataFrame(new_data)
df1 = pd.concat([df1, new_df], ignore_index=True)
with pd.ExcelWriter('data2.xlsx', engine='openpyxl', mode='a') as writer:
    df1.to_excel(writer, index=False, sheet_name='Sheet2', startrow=0, startcol=0)

In [61]:
data["Revenue"] = data['Revenue'].astype(int)

Exercise 3 Chunking Large Datasets

In [ ]:
! kaggle datasets download -d brendan45774/test-file

In [ ]:
!unzip test-file.zip

In [51]:
chunksize = 1000
total_survived = 0
total_passangers = 0
df = pd.read_csv('tested.csv',chunksize=chunksize)
for chunk in df:
  print(chunk.head(10))
  chunk_sum = chunk['Survived'].sum()
  total_survived += chunk_sum
  chunk_count = chunk['PassengerId'].count()
  total_passangers += chunk_count
  print(f"These are the total passangers {total_passangers}")
  print(f"These are the total surviver {total_survived}")
chunk.to_csv('output_chunk.csv', mode='a')

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3
5          897         0       3
6          898         1       3
7          899         0       2
8          900         1       3
9          901         0       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
5                    Svensson, Mr. Johan Cervin    male  14.0      0      0
6                          Connolly, Miss. Kate  female  30.0      0      0
7                  Caldwell, Mr. Albert Francis    male  26.0      1      1
8     Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0      0      0
9                       Davies, Mr. John Samuel    male  21.0      2      0

      Ticket     Fare Cabin Embarked
0     330911   7.8292   NaN        Q
1     363272   7.0000   NaN        S
2     240276   9.6875   NaN        Q
3     315154   8.6625   NaN        S
4    3101298  12.2875   NaN        S
5       7538   9.2250   NaN        S
6     330972   7.6292   NaN        Q
7     248738  29.0000   NaN        S
8       2657   7.2292   NaN        C
9  A/4 48871  24.1500   NaN        S
These are the total passangers 418
These are the total surviver 152

Exercise 4: Using Efficient File Formats

In [ ]:
! pip install pyarrow

In [50]:
import pyarrow.parquet as pq

df = pd.DataFrame(df)
df.to_parquet('large_data.parquet')

In [52]:
import os

# Get the size of a file
file_path = 'large_data.parquet'
file_size_bytes = os.path.getsize(file_path)
file_size_mb = file_size_bytes / (1024 * 1024)  # Convert bytes to MB

print("File size:", file_size_bytes, "bytes")
print("File size:", file_size_mb, "MB")

File size: 1388 bytes
File size: 0.001323699951171875 MB

In [54]:

# Get the size of a file
file_path = 'tested.csv'
file_size_bytes = os.path.getsize(file_path)
file_size_mb = file_size_bytes / (1024 * 1024)  # Convert bytes to MB

print("File size:", file_size_bytes, "bytes")
print("File size:", file_size_mb, "MB")

File size: 29474 bytes
File size: 0.028108596801757812 MB

In [53]:
import time

# Measure read speed
start_time = time.time()
df = pd.read_parquet('large_data.parquet')
end_time = time.time()
read_time = end_time - start_time
print("Read time:", read_time, "seconds")

# Measure write speed
start_time = time.time()
df.to_parquet('large_data.parquet')
end_time = time.time()
write_time = end_time - start_time
print("Write time:", write_time, "seconds")

Read time: 0.05801105499267578 seconds
Write time: 0.0018744468688964844 seconds

In [56]:
import time

# Measure read speed
start_time = time.time()
df = pd.read_csv('tested.csv')
end_time = time.time()
read_time = end_time - start_time
print("Read time:", read_time, "seconds")

# Measure write speed
start_time = time.time()
df.to_csv('tested.csv')
end_time = time.time()
write_time = end_time - start_time
print("Write time:", write_time, "seconds")

Read time: 0.007813692092895508 seconds
Write time: 0.0044710636138916016 seconds