<a href="https://colab.research.google.com/github/arielwendichansky/DI_Bootcamp/blob/master/Week5/Day3/Exercise_XP/SQLAlchemy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install sqlalchemy

In [2]:
import sqlalchemy as db
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.sql import select
from sqlalchemy.sql import text

In [4]:
engine = db.create_engine('sqlite:///Student.sqlite')
conn = engine.connect()
metadata = db.MetaData()

1. Write a Python program to create a SQLAlchemy model 'Student' with fields: 'id', 'studentname', and 'email'.

In [ ]:
with engine.connect() as conn:
    metadata.create_all(engine)

conn = engine.connect()

Student = db.Table('Student', metadata,
                   db.Column('id',db.Integer(),primary_key=True, nullable=False),
                   db.Column('student_name', db.String(150), nullable=False),
                   db.Column('email',db.String(200), nullable=False)
                   );
metadata.create_all(engine)
conn.commit()

2. Write a Python program that adds a new student to the 'students' table with a given id, studentname and email.

In [ ]:
student_insert = Student.insert().values([
    {'student_name': 'Alice Smith', 'email': 'alices@gmail.io'},
    {'student_name': 'Bob Dylan', 'email': 'bobd@gmail.io'},
    {'student_name': 'Charlie Brown', 'email': 'cbrown@gmail.io'},
])

conn.execute(student_insert)
metadata.create_all(engine)
conn.commit()

3. Write a Python program that retrieves a student's information from the 'students' table using their id..

In [ ]:
# Query the Student table
def student_query():
  query_student = select(Student)
  result_student = conn.execute(query_student)

  print("Student Table Rows:")
  for row in result_student:
      print(row)
  metadata.create_all(engine)
  conn.commit()

In [ ]:
conn = engine.connect()
output = conn.execute(text("SELECT student_name FROM Student  WHERE id = 1"))
print(output.fetchall())
metadata.create_all(engine)
conn.commit()

[('Alice Smith',)]

4. Write a Python program that updates a student's email in the 'students' table based on their id.

In [ ]:
def change_email(old_email,new_email):
  conn = engine.connect()
  output = conn.execute(text(f"UPDATE Student Set email= '{new_email}' WHERE email = '{old_email}'"))

  query_student = select(Student)
  result_student = conn.execute(query_student)
  metadata.create_all(engine)
  conn.commit()
  student_query()

change_email('alices@gmail.io','asmith@gmail.io')

Student Table Rows:
(1, 'Alice Smith', 'asmith@gmail.io')
(2, 'Bob Dylan', 'bobd@gmail.io')
(3, 'Charlie Brown', 'cbrown@gmail.io')

5. Write a Python program that deletes a student from the 'students' table by their id.

In [ ]:
def drop_student (id):
  conn = engine.connect()
  output = conn.execute(text(f"DELETE FROM Student WHERE id = {id}"))
  query_student = select(Student)
  result_student = conn.execute(query_student)
  metadata.create_all(engine)
  conn.commit()
  student_query()

drop_student (1)

Student Table Rows:
(2, 'Bob Dylan', 'bobd@gmail.io')
(3, 'Charlie Brown', 'cbrown@gmail.io')

6. Write a Python program that creates a i) SQLAlchemy model named 'Item' and table name 'items' with fields: 'item_id', 'item_name', 'item_price', and 'item_quantity'. ii) Create a SQLAlchemy model 'Order' and table name 'orders' with fields: 'order_id', 'user_id', 'item_id', and 'order_quantity'. iii) SQLAlchemy model named 'User' and table name 'users' with fields: 'user_id', 'user_name', 'user_email'.
Tables will be created under the database 'shop2.db' . Consider i) 'item_id' as a primary key of 'items' table. ii) 'user_id' as a primary key of 'users' table. iii) 'order_id' as a primary key of 'orders' table and 'item_id' and 'user_id' as two foreigh keys. Insert some records in the 'items', 'users' and 'orders' tables.

In [64]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey

# Create the engine
# Increase the timeout to 30 seconds and enable connection pooling
engine = create_engine('sqlite:///shop2.db',  pool_pre_ping=True)
metadata = MetaData()

# Define the Items table
Items = Table('Items', metadata,
              Column('item_id', Integer, primary_key=True, nullable=False),
              Column('item_name', String(150), nullable=False),
              Column('item_price', Integer, nullable=False),
              Column('item_quantity', Integer, nullable=False)
              )
metadata.create_all(engine)
conn.commit()

# Define the Users table
Users = Table('Users', metadata,
              Column('user_id', Integer, primary_key=True, nullable=False),
              Column('user_name', String(150), nullable=False),
              Column('user_email', String(150), nullable=False)
              )
metadata.create_all(engine)
conn.commit()

# Define the Orders table
Orders = Table('Orders', metadata,
               Column('order_id', Integer, primary_key=True, nullable=False),
               Column('user_id', Integer, ForeignKey('Users.user_id'), nullable=False),
               Column('item_id', Integer, ForeignKey('Items.item_id'), nullable=False),
               Column('order_quantity', Integer, nullable=False)
               )
metadata.create_all(engine)
conn.commit()

In [65]:
from sqlalchemy import insert

# Define data to be inserted
items_data = [
    {'item_id': 1, 'item_name': 'Item 1', 'item_price': 10, 'item_quantity': 100},
    {'item_id': 2, 'item_name': 'Item 2', 'item_price': 20, 'item_quantity': 200},
    {'item_id': 3, 'item_name': 'Item 3', 'item_price': 30, 'item_quantity': 300}
]


users_data = [
    {'user_id': 1, 'user_name': 'User 1', 'user_email': 'user1@example.com'},
    {'user_id': 2, 'user_name': 'User 2', 'user_email': 'user2@example.com'},
    {'user_id': 3, 'user_name': 'User 3', 'user_email': 'user3@example.com'}
]

orders_data = [
    {'order_id': 1, 'user_id': 1, 'item_id': 1, 'order_quantity': 5},
    {'order_id': 2, 'user_id': 2, 'item_id': 2, 'order_quantity': 10},
    {'order_id': 3, 'user_id': 3, 'item_id': 3, 'order_quantity': 15}
]

# Create insert statements for each table
items_stmt = insert(Items)
users_stmt = insert(Users)
orders_stmt = insert(Orders)

# Execute insert statements
with engine.connect() as conn:
    conn.execute(items_stmt, items_data)
    conn.execute(users_stmt, users_data)
    conn.execute(orders_stmt, orders_data)

In [ ]:
def items_query():
  query_items = select(Items)
  with engine.connect() as conn:
          result_items = conn.execute(query_items)

          # Print the rows retrieved from the Items table
          print("Items Table Rows:")
          for row in result_items:
              print(row)

# Call the function to query items
items_query()

# Create all tables defined in the metadata
metadata.create_all(engine)

7. Write a Python program to retrieve items with a price greater than a certain value from the 'items' table using the SQLAlchemy model.

In [ ]:
def items_greater_price(price):

  conn = engine.connect()
  output = conn.execute(text(f"SELECT item_name FROM Items  WHERE item_price > {price}"))
  print(output.fetchall())
  metadata.create_all(engine)
  conn.commit()

items_greater_price(100)

8. Write a Python program to update the quantity of an item in the 'Items' table based on its name using the SQLAlchemy model.

In [ ]:
def items_quatity_change(item_name,new_quantity):
  conn = engine.connect()
  output = conn.execute(text(f"UPDATE Items Set item_quantity= '{new_quantity}' WHERE item_name = '{item_name}'"))

  query_items = select(Items)
  result_items = conn.execute(query_items)
  metadata.create_all(engine)
  conn.commit()
items_query()

9. Write a Python program to create a new order in the 'Order' table for a user and a item with a specified quantity using the SQLAlchemy model.

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()
def create_order (user_id, item_id, order_quantity):
   # Access the Order table from metadata
  Order = metadata.tables['Orders']

  new_order = Order.insert().values(user_id = user_id , item_id = item_id, order_quantity = order_quantity)
  with engine.connect() as conn:
        conn.execute(new_order)
        print("New order committed")

create_order(4,4,300)

10. Write a Python program to retrieve all orders for a specific user from the 'Order' table user using the SQLAlchemy model.

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()
def retrieve_order (user):
  # Access the Order table from metadata
  with engine.connect() as conn:
    Order = metadata.tables['Orders']

    query = Order.select().where(Order.columns.user_id == user)

    output = conn.execute(query)
    print(output.fetchall())
    conn.commit()

retrieve_order (4)

11. Write a Python program to calculate and display the total cost of all orders for a given user using the SQLAlchemy model.

In [45]:
Session = sessionmaker(bind=engine)
session = Session()
def total_cost (user):
  # Access the Order and Item table from metadata
  with engine.connect() as conn:
    Order = metadata.tables['Orders']
    Items = metadata.tables['Items']

    # Create a query to retrieve order_quantity and item_id for a specific user
    query = session.query(Order.c.order_quantity, Order.c.item_id).filter(Order.c.user_id == user)
    total_cost = 0
    # Iterate over the orders and calculate total cost
    for order_quantity, item_id in query:
          # Create a query to retrieve item_price for the given item_id
          query2 = session.query(Items.c.item_price).filter(Items.c.item_id == item_id)
          item_price = query2.scalar()  # Get the item_price

          total_cost += order_quantity * item_price

          print("Total cost for user", user, "is:", total_cost)

    conn.commit()

total_cost (4)

12. Write a Python program to list the top 2 products by sales quantity from the 'orders' table using the SQLAlchemy model.

In [ ]:
from sqlalchemy import func


# Create a session to interact with the database
session = Session()

def top_items_by_sales_quantity(top_n=2):
    # Query the top N products by sales quantity
    query = (
        session.query(Orders.c.item_id, func.sum(Orders.c.order_quantity).label('total_quantity'))
        .group_by(Orders.c.item_id)
        .order_by(func.sum(Orders.c.order_quantity).desc())
        .limit(top_n)
    )
    # Execute the query and retrieve the results
    results = query.all()
    # Create a dictionary to store item_id -> total_quantity mapping
    product_quantity = dict(results)
    # Retrieve the top products using the item IDs
    top_products = session.query(Items).filter(Items.c.item_id.in_(product_quantity.keys())).all()
    # Display the top products and their sales quantity
    print(f"Top {top_n} items by sales quantity:")
    for product in top_products:
        quantity = product_quantity[product.item_id]
        print(f"Item: {product.item_name}, Sales Quantity: {quantity}")

# List the top 2 products by sales quantity
top_items_by_sales_quantity(top_n=2)

# Close the session
session.close()

13. Write a Python program to delete an order from the 'Order' table by its id. Use the SQLAlchemy model.

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

def drop_order (id):
   with engine.connect() as conn:
    Order = metadata.tables['Orders']
    conn = engine.connect()
    query = Orders.delete().where(Orders.columns.order_id == id)
    output = conn.execute(query)
    print(output.rowcount)

    conn.commit()


drop_order (1)

14. Write a Python program that performs aggregation queries to get the total number of orders, total sales amount, minimum item price, maximum item price and average order quantity using SQLAlchemy.

In [ ]:
session = Session()

def perform_aggregation_queries():
    # Total number of orders
    total_orders = session.query(func.count(Orders.c.order_id)).scalar()

    # Total sales amount
    total_sales_amount = session.query(func.sum(Orders.c.order_quantity * Items.c.item_price)) \
                                 .join(Items, Orders.c.item_id == Items.c.item_id) \
                                 .scalar()

    # Minimum item price
    min_item_price = session.query(func.min(Items.c.item_price)).scalar()

    # Maximum item price
    max_item_price = session.query(func.max(Items.c.item_price)).scalar()

    # Average order quantity
    avg_order_quantity = session.query(func.avg(Orders.c.order_quantity)).scalar()

    # Print the results
    print(f"Total number of orders: {total_orders}")
    print(f"Total sales amount: {total_sales_amount}")
    print(f"Minimum item price: {min_item_price}")
    print(f"Maximum item price: {max_item_price}")
    print(f"Average order quantity: {avg_order_quantity}")

# Perform aggregation queries
perform_aggregation_queries()

# Close the session
session.close()